{% extends 'base.html' %}

{% block title %}
    Set New Password
{% endblock %}

{% block main %}
    <div class="bg-main-div">
        <section class="login-section">
            <div class="login-div">
                <div class="login-header">
                    <img src="{{ url_for('static', filename='images/cart logo white.png') }}" class="login-img" alt="logo" />
                    <h2>Change Password</h2>
                    <p>Make sure you don't forget</p>
                </div>
                <div class="login-remind">
                    <form action="/forgot/{{role}}/{{email}}/change" method="POST" class="login-form">
                        <label>Password</label>
                        <input type="password" required name="confirm_password" id="password-input" placeholder="Enter your new password"/>
                        
                        <label>Confirm Password</label>
                        <input type="password" required name="password" id="password-input" placeholder="Confirm password"/>
    
                        <div class="show-pass-div">
                            <input type="checkbox" onclick="showPassword()" style="height: 20px;"/>
                            <p>Show Password</p>
                        </div>
    
                        <button class="submit-btn" type="submit">Change Password</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}